@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$font: "Poppins", sans-serif;

@mixin reset() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  @include reset();
  font-family: $font;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(10717699.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10vh 4vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .img {
      width: 9vw;
      border-radius: 50%;
      margin-bottom: 3vh;
    }
    h1,p {
        color: #1a1a1a;
    }
    h2 {
        color: #1b1b1b;
        font-weight: 300;
        font-size: 1.3rem;
    }

    li {
        list-style: none;
        text-align: center;
        transition: 0.5s;
        padding-top: 10px;

        &:nth-child(1){
            margin-top: 2vh;
        }

        &:hover {
            background-color: rgb(238, 238, 238, 0.7);
            padding: 1vh 3vw;
            border-radius: 5px;
            transition: 0.5s;
            cursor: pointer;
        }
    }
  }
}

@media screen and (max-width: 425px){
    .container {
        .content {
            .img {
                width: 25vw;
            }

            li{
                &:hover {
                    padding: 1vh 8vw;
                }
            }
        }
    }
}


@media screen and(min-width: 426px) and (max-width: 920px){
    .container {
        .content {
            .img {
                width: 20vw;
            }

            li{
                &:hover {
                    padding: 1vh 8vw;
                }
            }
        }
    }
}